<br />
<div class="hero-unit">
    <div class="clearfix">

    	<img class="gravatar pull-left" src="/img/photo.JPG" />
    
        <p>
            Balanced Scale Media LLC was founded my Michael Bosworth in 2008 to offer proffesional grade 
            web applications at price range that small businesses could afford.  The company services
            contracts for web development 
        </p>

        <p>
        	The name "Balanced Scale" comes from a time when scales were used to ensure the integrity
        	in an exchange of goods.  Balanced Scale Media is about delivering quality with integrity.
        </p>

    </div>
</div>