<br />
<div class="hero-unit">
    <div class="clearfix">
    	<img class="gravatar pull-left" src="http://www.gravatar.com/avatar/d17c82987e0989fde7f59d95135435bc.png" />
        <p>
            Balanced Scale Media LLC was founded my Michael Bosworth in 2008 to offer proffesional grade 
            web applications at price range that small businesses could afford.  The company serves as 
            a contractor for web development as well as constultant for all things technical.  
        </p>
    </div>
</div>