<br />

{{#if messages}}
    {{#each messages}}
        <div class="alert alert-{{type}}">{{message}}</div>
    {{/each}}
{{/if}}

<form action="/contact" method="post">
    <label>Your Email</label>
    <input class="textfield" type="text" name="from" placeholder="Your Email" />
    <label>Subject</label>
    <input class="textfield" type="text" name="subject" placeholder="Subject" />
    <label>Message</label>
    <textarea class="textfield" name="message" placeholder="Message"></textarea>
    <br />
    <input type="submit" value="Send" class="btn"/>
</form>