<br />
<div class="hero-unit">
    <strong>
        Balanced Scale Media is a one man web development company.
        BalancedScale.com is devoted to sharing knowledge gained through
        building the web.
    </strong>
</div>

<h3>Recent Posts:</h3>

{{#each posts}}
    <div class="post">
        <h3><a href="{{url}}">{{title}}</a></h3>
        <time>{{#formattedDate date}}{{/formattedDate}}</time>
    </div>
    <a href="{{url}}">Read More</a>
{{/each}}

<br /><br />
<div>
	<a class="btn" href="/blog">View Blog </a>
</div>