<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Balanced Scale Media LLC</title>
        <meta name="viewport" content="width=device-width">
        
        <link rel="alternate" type="application/rss+xml" title="Blog" href="http://www.balancedscale.com/rss" />
        
        <link href="http://fonts.googleapis.com/css?family=Oxygen&subset=latin" rel="stylesheet" type="text/css">
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">

        <!-- libraries -->
        <script src="/js/libs/jquery.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-41182342-1', 'balancedscale.com');
          ga('send', 'pageview');
        </script>
    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">balanced scale media</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/tags">Topics</a></li>
                            <li><a href="/about">About</a></li>                            
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div id="homeview" class="container">
            {{{body}}}
        </div>


        <footer>
            <center class="small">
                &copy; 2013 Balanced Scale Media LLC | 
                <a href="http://www.twitter.com/bsmllc">twitter</a> |
                <a href="http://www.linkedin.com/company/2125259">linkedin</a>
            </center>
        </footer>
    </body>

</html>