<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Balanced Scale Media LLC</title>

        <link href="http://fonts.googleapis.com/css?family=Oxygen&subset=latin" rel="stylesheet" type="text/css">
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">

        <!-- libraries -->
        <script src="/js/libs/jquery.js"></script>
        <script src="/js/libs/underscore.js"></script>
        <script src="/js/libs/backbone.js"></script>
        <script src="/js/libs/jquery.cookie.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>


        <script src="/js/main.js"></script>

    </head>

    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">balanced scale media</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div id="homeview" class="container">
            {{{body}}}
        </div>


        <footer>
            <center class="small">&copy; 2013 Balanced Scale Media LLC</center>
        </footer>
    </body>

</html>