<?php
    /**
     *  In case logged in users get here by mistake, destroy their old sessions
     */
    ob_start(); // Initiate the output buffer

    date_default_timezone_set('UTC'); // Avoid timezone error message while doing that
    // Cookies to unset, as the app change, you can just add them / remove them from here:
    $cookies_to_destroy = array('nitro_api','nitro_server','nitro_session','nitro_uid', 'nitro_role', 'nitro_hasvisited');
    foreach ($cookies_to_destroy as $cookie_to_destroy) {
        setcookie($cookie_to_destroy, null, strtotime('-1 day'));
        unset($_COOKIE[$cookie_to_destroy]);
    }
    // Remove the session as well
    @session_destroy();
    session_unset();
    // remove the session cookie 
    if (isset($_COOKIE[session_name()])) { 
        setcookie(session_name(), '', strtotime('-1 day')); 
    }

    // AC-2377: Avoid clickjacking attacks:
    header('X-Frame-Options: SAMEORIGIN');
?>
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie10 lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Nitro Dashboard - You are new!</title>

    <meta name="description" content="bunchball.com admin console">
    <meta name="author" content="">

    <meta name="viewport" content="width=1140">

    <link rel="stylesheet" href="assets/css/nitro.new-user.css">
    <!-- TEMPORARY UNTIL WE DECIDE TO CDN THIS TO GOOGLE, OR HOST IT OURSELVES -->
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <!-- normally I don't want blocking behavior, but I have stuff to hide and I need jQ ASAP -->
    <script type="text/javascript" src="assets/js/libs/jquery-1.7.1.min.js"></script>

    <script type="text/javascript" src="/assets/js/new_user.js"></script>

</head>

<body class="nitro-admin">

    <!-- LAYOUT: The "left-nav, top-bar, normal" interface -->
    <div id="nitro-admin-standard-layout">
        <header id="nitro-admin-header">
            <div id="top_frame" class="main-wrapper">
                <div class="grid2col">
                    <div class="column first">
                        <div class="sprite_shell_logo"></div>
                    </div>
                    <div class="column last">&nbsp;</div>
                </div>
            </div>
        </header>

        <div id="reporter" class="error">
            <h3>
                <span>Stuff</span>
                <div class="close_msg">X</div>
            </h3>
        </div>

        <div id="contents" class="main-wrapper">

            <div id="nitro_login" class="centered form_container">

                <div id="nitro_login_normal" class="front">
                    <h1 class="blue_new_icon verify-msg verifying">Verifying your Sign Up Token...</h1>
                    <h2 class="verify-msg">Just a second, we're checking a few things out and getting ready to setup your account.</h2>
                    <form class="pallet" id="new_user_form" action="#" autocomplete='off'>

                        <fieldset>
                            <label for="admin_login_username">Email</label>
                            <span class="userEmail">myemailname@email.com</span>
                        </fieldset>

                        <fieldset class="clear">
                            <label for="admin_login_name">First Name</label>
                            <input type="text" name="admin_first_name" id="admin_first_name" autocomplete='off' />
                        </fieldset>

                        <fieldset>
                            <label for="admin_login_name">Last Name</label>
                            <input type="text" name="admin_last_name" id="admin_last_name" autocomplete='off' />
                        </fieldset>

                        <fieldset>
                            <label for="admin_login_pw" class="required">Password</label>
                            <span class="required">*required</span>
                            <input type="password" name="admin_password" id="admin_password" data-validate='min-lenght' autocomplete='off' />
                            <div class="validation-error"></div>
                        </fieldset>

                        <div class="password-criteria">
                            <ul data-validate="password-criteria">
                                <li class="comment">Your password must be:</li>
                                <li data-criteria-type='length'>Minimum <span class="password-len"></span> characters</li>
                                <li class="comment"> And, your password must also contain <span class="pluralize"></span>  of the following:</li>
                                <li data-criteria-type='uppercase'>Uppercase characters</li>
                                <li data-criteria-type='lowercase'>Lowercase characters</li>
                                <li data-criteria-type='symbols'>A symbol</li>
                                <li data-criteria-type='numbers'>A number</li>
                            </ul>
                            <div class="validation-error"></div>
                        </div>

                        <fieldset>
                            <label for="admin_login_pw" class="required">Confirm Password</label>
                            <span class="required">*required</span>
                            <input type="password" name="admin_confirm_password" id="admin_confirm_password" data-validate='match-password' autocomplete='off' />
                            <div class="validation-error"></div>
                        </fieldset>

                        <div class="panel-foot clear">
                            <button type="submit" name="admin_save" class="button-submit">
                                <div class="white_next_arrow">Save</div>
                            </button>
                        </div>

                    </form>
                </div>

            </div> <!-- END nitro_new_form -->

        </div> <!-- END main-wrapper -->

    </div> <!-- END nitro-admin-standard-layout -->

    <div class="hidden">
        <form method="post" action="login.php" id="login-form">
            <input type="text" name="admin_login_username" id="admin_login_username" value=""/>
            <input type="password" name="admin_login_password" id="admin_login_password" value=""/>
        </form>
    </div>

</body>

</html>
<?php
    ob_end_flush(); // Flush the output from the buffer
?>