<?xml version="1.0" encoding="utf-8"?>
    <rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
      <channel>
        <title>Balanced Scale Media</title>
        <description>Balanced Scale Blog sharing sites news and techincal information</description>
        <link>http://www.balancedscale.com/rss</link>
        <language>en</language>
        <copyright>Balanced Scale Media</copyright>
        <atom:link href="http://www.balancedscale.com/rss" rel="self" type="application/rss+xml" />

        {{#each posts}}
        <item>
          <title>{{title}}</title>
          <description>{{description}}</description>
          <link>{{url}}</link>
          <guid isPermaLink="true">{{slug}}</guid>
          <pubDate>{{date}}</pubDate>
        </item>        
        {{/each}}