Balance Scale Media went above and beyond our expectations. They were very patient with my questions and changes in the process of getting to what we envisioned. They went out of their way to help me understand and give us the tools to learn to manage our website in the future which was one of our main reasons for transfering from another web host. We highly recommend Balanced Scale Media!

--Becky Loftus, Loftus Heating and AC

I'm happy with how everything turned out!

--Kris Garden, Bella Homes Iowa, LLC

Balanced Scale provided a thorough, yet simple, solution to our need for a dynamic website. We are extremely satisfied with both the front end and the back end of the site. Users find the information they need, and we are able to update it easily. Our site must be current or people won't keep coming back. Mike and his "can do" attitude helped us create one of the best church sites we've ever seen.

--Mike Despard, Cornerstone Church of Ames